/*
------Part One
*/

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select{
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: #3C3836 solid 3px;
    margin-bottom: 15px;
}
input:focus,select:focus{
    outline: none;
    border-bottom: deeppink solid 3px;
}
fieldset{
    border: none;
}

/*
------Part Two
*/

.interest{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 23px;
}
.radio,.checkbox{
    font-size: 21px;
    margin-top: 20px;
    align-items: right;
}
::placeholder{
    color: #666666;
}
textarea{
    width: 97%;
    height: 200px;
    background-color: #3C3836;
    color: white;
}
.submit{
    horiz-align: center;
    height: 30px;
    width: 100px;
    background-color: #666666;
    color: white;
    border: none;
}