html,body{
    height: 100%;
    margin: 0%;
    font-family: 'Lobster', cursive;
    background-image: url("https://i.pinimg.com/originals/ff/95/45/ff95456fa1ce591bc5f1d2c0d1c37de2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: 100%;
}
h1,h3{
    margin: 20px;
}

.Title-div{
    color: #3C3836;
    font-size: 30px;
    text-align: center;
}
.Form{
    font-family: 'Mukta', sans-serif;
    margin: 40px 20px 35px 20px;
    height: 100%;
    padding: 2px;
    width: 92%;

}
.Footer{
    background-color: #FBF3FC;
    text-align: center;
}
