html,body{
    background-image: url("https://wallpapercave.com/wp/uls2Jgn.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    color: #F0F0EF;
    font-family: 'Pacifico', cursive;
}
.image-div{
    justify-content: center;
    align-self: center;
}
img{
    height: auto;
    justify-content: center;
    align-self: center;
}
.img-caption{
    color: #FFF700;
    font-family: 'Pacifico', cursive;
}
.tribute-info{
    padding: 8px;
    justify-content: center;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 8px;
}
a:hover{
    color: #00FF6C;
}
.dev{
    color: #00E8FF;
    font-family: 'Pacifico', cursive;
}
.hor1,.hor2,.dev,.title,.image-div,.img-caption,.image{
    justify-content: center;
    align-self: center;
    text-align: center;
}
img{
    height: auto;
}
.tribute-info,.tb-link{
    color: white;
}
.hor1,.hor2{
    max-width: 1fr;
    background-color: #FCFCFC;
}
.tb-link{
    justify-content: center;
    align-self: center;
    text-align: right;
}
@media (min-width: 1024px) {
    html,body{
        background-position: 100%;
    }
}
@media (min-width:1000px){
    .container{
        grid-column: 1/1;
        display: grid;
        grid-gap: 5px;
        width: 500px;
        grid-template-columns: 170px 200px 170px;
        grid-template-rows: 110px 150px 150px 50px 90px;
    }
    .title{
        font-size: 65px;
        grid-column: 1/-1;
    }
    .image-div{
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: 170px 120px 170px;
        grid-template-rows: repeat(2,80px);
        grid-row-gap: 5px;
    }
    img{
        height: auto;
        grid-column: 2/2;
        max-width: 120px;
    }
    .img-caption{
        font-size: 18px;
        grid-column: 1/4;
    }
    .tribute-info{
        font-size: 14px;
        grid-column:1/-1;
    }
    .tb-link{
        grid-column: 3/-1;
    }
    .hor1{
        height: 6px;
        grid-column: 1/1;
    }
    .dev{
        font-size: 18px;
        grid-column: 2/2;
    }
    .hor2{
        height: 6px;
        grid-column: 3/-1;
    }
}
@media(max-width:414px){
    html,body{
        background-position: 100%;
    }
    .container{
        display: grid;
        color: white;
        grid-gap: 5px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 135px 130px 60px 50px 35px 50px;
    }
    .title{
        font-size: 45px;
        grid-column: 1/-1;
    }
    .image-div{
        display: grid;
        grid-column: 1/-1;
        grid-gap: 10px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 120px 50px;
        grid-row-gap: 5px;
    }
    img{
        height: auto;
        grid-column: 2/2;
        max-width: 120px;
    }
    a{
        color: #FB5B8F;
    }
    a:hover{
        color: #FEFBF8;
    }
    .img-caption{
        color: #FEFBF8;
        font-size: 16px;
        grid-column: 1/-1;
    }
    .tribute-info{
        color:#FFFCCF;
        font-size: 13px;
        grid-column:1/-1;
    }
    .tb-link{
        grid-column: 3/-1;
        grid-row: 6/6;
    }
    .hor1{
        grid-column: 1/1;
        grid-row: 7/7;
    }
    .dev{
        color: #00E8FF;
        grid-column: 2/2;
        grid-row: 7/7;
        font-size: 14px;
    }
    .hor2{
        grid-column: 3/-1;
        grid-row: 7/7;
    }
    .hor1,.hor2{
        height: 5px;
    }
}