body{
    font-family: 'Quantico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
#test{
    height: 70px;
    width: 100vw;
    background: #F9F9F9;
    display: flex;
    flex-direction: row;
    text-align: center;
    box-shadow: 0px 1px 10px 3px rgba(240,240,240,1);
}
#home{
    width: 100vw;
    display: flex;
    align-items: center;
}
a{
    margin: 10px;
    padding: 18px;
    height: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: .5s;
}
a:hover{
    color: #FF1365;
}
#logo{
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    height: 100%;
    width: 100%;
}
#items{
    justify-items: flex-end;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}